<div class="col-xs-12">
  <h2 mat-dialog-title>Add New Coffe In Menu</h2>
  <div mat-dialog-content>
    <form [formGroup]="menuAddForm">
      <div class="row">
        <div>
          <mat-form-field appearance="outline" style="margin-left: 2%">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Enter name of coffee here"
              type="text"
              formControlName="name"
            />
            <mat-error *ngIf="menuAddForm.get('name').invalid"
              >Please enter valid name</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline" style="margin-left: 3%">
            <mat-label>Price</mat-label>
            <input
              matInput
              placeholder="Enter price of coffee here"
              type="number"
              formControlName="price"
              min="0"
            />
            <mat-error *ngIf="menuAddForm.get('price').invalid"
              >Price must be non-negative</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <h4 *ngIf="getIngredients().length > 0">Ingredients:</h4>
      <h4 *ngIf="getIngredients().length === 0">
        Please add one or more ingredients!
      </h4>
      <div class="row">
        <div formArrayName="ingredients" style="overflow: hidden">
          <div
            *ngFor="let ingredient of getIngredients(); let i = index"
            [formGroupName]="i"
            style="margin-top: 10px"
          >
            <!-- <div class="col-xs-8"> -->
            <mat-form-field appearance="outline" style="margin-left: 2%">
              <mat-label>Name</mat-label>
              <input
                matInput
                placeholder="Enter name of ingredient here"
                type="text"
                formControlName="name"
              />
              <mat-error *ngIf="menuAddForm.get('name').invalid"
                >Please enter valid name</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline" style="margin-left: 3%">
              <mat-label>Content(%)</mat-label>
              <input
                matInput
                placeholder="Enter content(in %) of ingredient here"
                type="number"
                formControlName="quantity"
                min="0"
                max="100"
              />
              <mat-error *ngIf="menuAddForm.get('ingredients').invalid"
                >Content must be in the range of 0-100</mat-error
              >
            </mat-form-field>
            <span
              style="margin-left: 3%"
              class="btn btn-danger"
              type="button"
              (click)="onDeleteIngredient(i)"
            >
              X
            </span>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div style="margin-left: 2%">
          <button
            mat-raised-button
            color="primary"
            (click)="onAddIngredient()"
            type="button"
          >
            Add Ingredient
          </button>
        </div>
      </div>
    </form>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      (click)="getMenu()"
      [disabled]="menuAddForm.invalid || getIngredients().length === 0"
    >
      Add
    </button>
  </mat-dialog-actions>
</div>
