<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <!-- <ul
        class="list-group"
        *ngIf="counter != 0 && counter % 3 == 0 && isOpen"
      >
        <li class="list-group-item">
          <h4 class="list-group-item-heading" style="margin-bottom: 2%">
            We are offering you an extra cup of Mocha at 4₹ (-50%) !!
          </h4>
          <p class="list-group-item-text">
            <span class="badge offer" style="cursor: pointer; margin-right: 4%" (click)="onAdd()"
              >Yes,of course!!</span
            >
            <span
              class="badge offer"
              style="cursor: pointer"
              (click)="onClose()"
              >Nah,I'll skip.</span
            >
          </p>
        </li>
      </ul> -->
      <div *ngIf="isAdmin" class="list-group-item add-menu">
        <h4 class="list-group-item-heading">New coffee in the house?</h4>
        <button mat-flat-button (click)="onAddMenu()">Add In Menu</button>
      </div>
      <ul
        class="list-group"
        *ngFor="let item of (menu | async).menu; let i = index"
      >
        <div>
          <li class="list-group-item">
            <div
              class="list-group-item-heading"
              style="display: flex; flex-direction: row; margin-bottom: 1%"
            >
              <span
                style="font-size: larger; font-weight: bold; flex: 1 1 auto"
                >{{ item.name }}</span
              >
              <span style="margin-right: 1%" *ngIf="isAdmin"
                ><img
                  src="../../assets//images/edit-icon.png"
                  style="cursor: pointer"
                  (click)="onEditMenu(item)"
              /></span>
              <span *ngIf="isAdmin"
                ><img
                  src="../../assets//images/delete-icon.png"
                  style="cursor: pointer"
                  (click)="onDeleteMenu(item._id)"
              /></span>
            </div>
            <!-- <h4 class="list-group-item-heading">{{ item._id }}</h4> -->
            <!-- <span class="quantity badge"> -->
            <span
              class="badge count"
              style="cursor: pointer"
              (click)="onIncrease(i)"
              >+</span
            >
            <span class="badge count">{{ item.quantity }}</span>
            <span
              class="badge count"
              style="cursor: pointer"
              (click)="onDecrease(i, item.quantity)"
              >-</span
            >
            <!-- </span> -->
            <!-- <p class="list-group-item-text">[{{ item.ingredients }}]</p> -->
            <p class="list-group-item-text">{{ item.price }}.00 ₹</p>
            <p class="list-group-item-text" *ngIf="item.quantity > 0">
              ({{ item.itemTotal }}.00 ₹)
            </p>
            <button
              mat-flat-button
              class="list-group-item-text"
              [matMenuTriggerFor]="beforeMenu"
            >
              Ingredients
            </button>
            <mat-menu #beforeMenu="matMenu" yPosition="below" xPosition="after">
              <p mat-menu-item *ngFor="let ingredient of item.ingredients">
                {{ ingredient.name }} {{ ingredient.quantity }}%
              </p>
            </mat-menu>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
