.count {
  font-size: large;
  width: 32px;
  /* background-color: #00cccc; */
  background-color: rgb(245, 161, 92);
}
li {
  /* background-color: #e6ffff; */
  background-color: white;
  border-color: wheat;
}
li:hover {
  position: relative;
  /* background-color: #1affff; */
  background-color: wheat;
  /* transform: rotate(-0.5deg); */
  transform: scaleY(1.2);
}
.offer {
  font-size: large;
  padding: 1% 1%;
}
